.buttonContainer {
  margin-bottom: 1.8rem;
  margin-top: 1.8rem;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerContainer {
  display: flex;
  width: 100%;
}

.iconContainer {
  background-color: white;
  border-radius: 0.6rem;
  margin-left: 4.5rem;
}

.textContainer {
  margin-left: 1rem;
}

.heading {
  font-size: 1rem;
}

.arrowContainer {
  display: flex;
  align-items: center;
}